<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Confirmation</title>
</head>
<body>
<h2>Commentaires</h2>
<ul>
    <li th:each="commentaire : ${commentaires}">
        <span th:text="${commentaire.utilisateur.pseudoUser}"></span> :
        <span th:text="${commentaire.texte}"></span>
    </li>
</ul>
<form th:action="@{'/post/' + ${post.idPost} + '/commenter'}" method="post">
    <input type="text" name="texte" required />
    <button type="submit">Commenter</button>
</form>
</body>
</html>

