<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
</head>
<body>
<h1>Bienvenue sur votre profil</h1>

<p><strong>Nom:</strong> <span th:text="${utilisateur.nomUser}"></span></p>
<p><strong>Prénom:</strong> <span th:text="${utilisateur.prenomUser}"></span></p>
<p><strong>Email:</strong> <span th:text="${utilisateur.emailUser}"></span></p>
<p><strong>Pseudo:</strong> <span th:text="${utilisateur.pseudoUser}"></span></p>
<p><strong>Téléphone:</strong> <span th:text="${utilisateur.telUser}"></span></p>
<p><strong>Visibilité:</strong> <span th:text="${utilisateur.visibiliteUser ? 'Publique' : 'Privée'}"></span></p>
<br>



<h2>Mes Événements</h2>
<div th:each="evt : ${evenements}">
    <p><strong>Titre:</strong> <span th:text="${evt.titre}"></span></p>
    <p><strong>Description:</strong> <span th:text="${evt.description}"></span></p>
    <p><strong>Date:</strong> <span th:text="${#dates.format(evt.dateEvenement, 'dd/MM/yyyy HH:mm')}"></span></p>
    <p><strong>Lieu:</strong> <span th:text="${evt.lieu}"></span></p>
    <br>
</div>

<br>
<a href="/accueil">Retour à l'accueil</a>
</body>
</html>
