<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil de l'utilisateur</title>
</head>
<body>
<h1>Profil de <span th:text="${utilisateur.pseudoUser}">[pseudo]</span></h1>

<p><strong>Pseudo :</strong> <span th:text="${utilisateur.pseudoUser}"></span></p>
<p><strong>Nom :</strong> <span th:text="${utilisateur.nomUser}"></span></p>
<p><strong>Prénom :</strong> <span th:text="${utilisateur.prenomUser}"></span></p>

<br>
<a href="/accueil">Retour à l'accueil</a>
</body>
</html>
